{{ define "head" }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="/static/node_modules/@creativebulma/bulma-divider/dist/bulma-divider.css">
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/281bce60ca.js" crossorigin="anonymous"></script>

    <style>
        html, body {
            height: 100%;
        }
    </style>
{{ end }}