<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" }}
    <title>Hypebase</title>
    <link rel="stylesheet" href="/static/css/login.css"/>
</head>
<body class="has-navbar-fixed-top">
{{ template "navbar" }}
<div class="container is-fullheight is-full-desktop">
    <section class="section">
        <div class="columns is-2">
            <div class="column" id="hero">
                <p class="title">Welcome back</p>
            </div>
            <div class="column" id="form">
                <form method="post" action="/login" id="login-form">
                    <div class="field">
                        <label class="field-label"><strong>Email</strong></label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="email" id="email" placeholder="doc@gillette.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas" id="email-validate"></i>
                            </span>
                        </p>
                        <p class="help is-danger" id="email-help"></p>
                    </div>
                    <div class="field">
                        <label class="field-label"><strong>Password</strong></label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="password" name="pass" id="pass" placeholder="••••••••••">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="icon is-small is-right" id="pass-show">
                                <i class="fas fa-eye" id="pass-show"></i>
                            </span>
                        </p>
                        <p class="help is-danger" id="pass-help"></p>
                    </div>
                    <div class="field">
                        <label class="checkbox" id="save-session">
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <div class="field">
                        <p class="control" id="submitLabel">
                            <button class="button" id="submitButton">
                                Log in
                            </button>
                        </p>
                        <div class="level">
                            <div class="level-left">
                                <p class="help" id="register-help"><a href="/register">Need an account?</a></p>
                            </div>
                            <div class="level-right">
                                <p class="help" id="forgot-help"><a href="/forgot">Forgot password</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>